body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}
.content-container {
  position: relative; 
  padding: 20px; 
  z-index: 1; /* Place content above background image */
}

.centered { 
text-align: center;
}
h1 {
  text-align: center;
}
.date-and-goal {
  display: flex; /* date and textarea display inline */
  align-items: center; 
}



.date-and-goal span {
  margin-right: 5px; 
}

.main-goal {
  flex: 1; /* Allow textarea to fill remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category {
  flex: 1 0 20%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}

.category h3 {
  margin-bottom: 5px;
}

.category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category li {
  line-height: 1.5;
  margin-bottom: 5px;
}

.category li input[type="checkbox"] {
  margin-right: 10px;
}

.category img {
  display: block; 
  margin: 0 auto; 
  width: 50px;
  height: 50px; 
}

.scrollable-content {
  height: 5px; 
  overflow: auto; /* scrollbar when content overflows */
}

.must-do {
  background-color: #ff8c8c; 
}

.should-do {
  background-color: #b4d4fa; 
}

.could-do {
  background-color: #cce7cd; 
}

.if-time-list {
  background-color: #d8c7ff; 
}

